<!DOCTYPE html>
<html lang="en">

{{ template "header.html" }}

<body id="page-top">
    
  <!-- Page Wrapper -->
    <div id="wrapper">      
        
        {{ template "sidebar.html" }}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">                    
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Services</h1>
                                        
                    <!-- DataTables Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">MSSQL Service</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="serviceList" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Platform<br />&nbsp;</th>
                                            <th>Env<br />&nbsp;</th>
                                            <th>DBType<br />&nbsp;</th>
                                            <th>ServiceCategory<br />&nbsp;</th>
                                            <th>ServiceName<br />&nbsp;</th>
                                            <th>Status<br />&nbsp;</th>
                                            <th>DBA<br />&nbsp;</th>                                                                                        
                                            <th>#Host<br />&nbsp;</th>
                                            <th>#Host<br />Skip</th>                                                                          
                                            <th>#Host<br />AlertSkip</th>                                                                          
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Platform<br />&nbsp;</th>
                                            <th>Env<br />&nbsp;</th>
                                            <th>DBType<br />&nbsp;</th>
                                            <th>ServiceCategory<br />&nbsp;</th>
                                            <th>ServiceName<br />&nbsp;</th>
                                            <th>Status<br />&nbsp;</th>
                                            <th>DBA<br />&nbsp;</th>                                                                                        
                                            <th>#Host<br />&nbsp;</th>
                                            <th>#Host<br />Skip</th>                                                                          
                                            <th>#Host<br />AlertSkip</th>                                                                          
                                        </tr>
                                    </tfoot>                                    
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    {{ template "footer.html" }}

    <script type="text/javascript">
        $(document).ready(function() {
            
            $('#serviceList').DataTable( {    
                //lengthMenu: [ 50, 100, 150, 200, 250 ],
                //stateSave: true,
                //"dom": 'iptfl',                
                //"lengthChange": false,                   
                //"searching": false,  
                //"paging": false,
                "ajax": {
                    "url": "/servicelist",
                    "type": "GET",
                    "datatype": 'json',    
                    "dataSrc": ''                    
                },
                "columns": [
                    { "data": "platform" },
                    { "data": "env" },
                    { "data": "dbtype" },
                    { "data": "servicecategory" },
                    { 
                        "data": "servicename", 
                        "render": function ( data, type, row ) {
                            if ( type === 'display' ) {
                                data = '<a href="/render_service" id="' + row.service_no + '">' + data + '</a>';                                                                                             
                            }
                            return data;                            
                        }
                    },                    
                    { "data": "status" },
                    { "data": "dba" },
                    { "data": "num_host" },                    
                    { "data": "num_host_skip_host" },                    
                    { "data": "num_host_skip_alert" },                    
                ]
            });
        
        } );

     
    </script>

</body>
</html>
