        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon rotate-n-15">
                    <!--<i class="fas fa-laugh-wink"></i>-->
                </div>
                <div class="sidebar-brand-text mx-3">TOM<sup>for</sup>MSSQL</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                MANAGEMENT
            </div>

            <!-- Nav Item - Service -->
            <li class="nav-item">
                <a class="nav-link" href="/render_servicelist">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Service</span></a>
            </li>

            <!-- Nav Item - Host -->
            <li class="nav-item">
                <a class="nav-link" href="/render_service">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Host</span></a>
            </li>            

            <!-- Nav Item - AlertPrimary Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAlertPrimary"
                    aria-expanded="true" aria-controls="collapseAlertPrimary">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Alert-Primary</span>
                </a>
                <div id="collapseAlertPrimary" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Task:</h6>-->
                        <a class="collapse-item" href="">Alerts</a>                        
                        <div class="collapse-divider"></div>
                        <!--<h6 class="collapse-header">Empty:</h6>-->
                    </div>
                </div>
            </li>

            <!-- Nav Item - AlertSecondary Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#AlertSecondary"
                    aria-expanded="true" aria-controls="AlertSecondary">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Alert-Secondary</span>
                </a>
                <div id="AlertSecondary" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <!--<h6 class="collapse-header">Task:</h6>-->
                        <a class="collapse-item" href="">Alerts</a>                        
                        <div class="collapse-divider"></div>
                        <!--<h6 class="collapse-header">Empty:</h6>-->
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                CONFIGURATIONS
            </div>

            <!-- Nav Item - ConfPrimary Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ConfPrimary"
                    aria-expanded="true" aria-controls="ConfPrimary">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Alert-Primary</span>
                </a>
                <div id="ConfPrimary" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">                        
                        <a class="collapse-item" href="">InfluxDB</a>
                        <a class="collapse-item" href="">Kapacitor</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - ConfSecondary Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ConfSecondary"
                    aria-expanded="true" aria-controls="ConfSecondary">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Alert-Primary</span>
                </a>
                <div id="ConfSecondary" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">                        
                        <a class="collapse-item" href="">InfluxDB</a>
                        <a class="collapse-item" href="">Kapacitor</a>
                    </div>
                </div>
            </li>
          
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>            

        </ul>
        <!-- End of Sidebar -->